<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
  </head>
  <body>
  <form class="form-horizontal" method="post">
    <fieldset>
    <legend>Mongo Status</legend>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">gen syslog</button>
    </div></fieldset>
  </form>
  <!--這一段是存在的-->

</body>
</html>
